<div class="card my-5">
    <div class="card-body">
        <table class="table table-bordered table-striped">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Model</th>
                    <th scope="col">Color</th>
                    <th scope="col">Price</th>
                    <th scope="col">Vin-code</th>
                    <th scope="col" colspan="3" class="center">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let car of cars">
                    <td>{{ car.model }}</td>
                    <td>{{ car.color }}</td>
                    <td>{{ car.price }} $</td>
                    <td>{{ car.vin_code }}</td>
                    <td><button (click)="openModal(template)" class="btn btn-danger">Delete</button></td>
                    <ng-template #template>
                        <div class="modal-body text-center">
                            <p>Do you want to delete? {{ car.model }}</p>
                            <button type="button" class="btn btn-danger" (click)="confirm(car.id)">Yes</button>
                            <button type="button" class="btn btn-primary" (click)="decline()">No</button>
                        </div>
                    </ng-template>
                    <td><button [routerLink]="['/car', car.id, 'edit']" class="btn btn-success">Edit</button></td>
                    <td><button [routerLink]="['/addorder', car.id]" class="btn btn-primary">Create Order</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
