<div class="card my-5">
    <div class="card-body">
        <table class="table table-bordered table-striped">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Model</th>
                    <th scope="col">Color</th>
                    <th scope="col">Price</th>
                    <th scope="col">Vin-code</th>
                    <th scope="col">Delete</th>
                    <th scope="col">Add</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let car of cars">
                    <td>{{ car.model }}</td>
                    <td>{{ car.color }}</td>
                    <td>{{ car.price }}</td>
                    <td>{{ car.vin_code }}</td>
                    <td><button (click)="deleteCar(car.id)" class="btn btn-danger">Delete</button></td>
                    <td><button [routerLink]="['/addorder', car.id]" class="btn btn-primary">Create Order</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>