<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card bg-dark my-3">
        <h2 class="card-title text-center text-white py-3">{{ title }}</h2>
        <div class="card-body">
          <ul class="text-center list-inline py-3">
            <li class="list-inline-item">
              <a routerLink="/car" routerLinkActive="active" class="btn btn-info">Cars</a>
            </li>
            <li class="list-inline-item">
              <a routerLink="/addcar" routerLinkActive="active" class="btn btn-info">Add Car</a>
            </li>
            <li class="list-inline-item">
              <span>|||</span>
            </li>
            <li class="list-inline-item">
              <a routerLink="/customer" routerLinkActive="active" class="btn btn-info">Customers</a>
            </li>
            <li class="list-inline-item">
              <a routerLink="/addcustomer" routerLinkActive="active" class="btn btn-info">Add Customer</a>
            </li>
            <li class="list-inline-item">
                <span>|||</span>
            </li>
            <li class="list-inline-item">
              <a routerLink="/order" routerLinkActive="active" class="btn btn-info">Orders</a>
            </li>
          </ul>
        </div>
      </div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

