/* You can add global styles to this file, and also import other style files */

.alert-danger {
    background: none !important;
}

.btn-danger {
    background: rgb(127, 38, 38);
    }

.btn-primary {
    background: rgb(25, 72, 82);
}

.btn-success {
    background: rgb(40, 115, 74);
}

.btn-info {
    background: rgb(105, 153, 174);
}

.btn-default {
    background: rgb(157, 155, 155);
}